apiVersion: kubeadm.k8s.io/v1beta4
kind: JoinConfiguration
discovery:
  bootstrapToken:
    token: "{{ kubeadm_token }}"
    apiServerEndpoint: "{{ control_plane_endpoint }}:6443"
    caCertHashes: ["{{ cahash }}"]
nodeRegistration:
  name: "{{ vm_hostname }}"
  criSocket: "unix:///var/run/crio/crio.sock"
  imagePullPolicy: "IfNotPresent"
  kubeletExtraArgs: 
    - name: cgroup-driver
      value: "systemd"
    - name: resolv-conf
      value: "/run/systemd/resolve/resolv.conf"
timeouts:
  discovery: "5m"