---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  name: "{{ vm_hostname }}"
  criSocket: "unix:///var/run/crio/crio.sock"
  imagePullPolicy: "IfNotPresent"
  kubeletExtraArgs: 
    cgroup-driver: "systemd"
    resolv-conf: "/run/systemd/resolve/resolv.conf"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: "1.29.4"
networking:
  podSubnet: "{{ podCIDR }}"
  serviceSubnet: "{{ svcCIDR }}"
controllerManager:
  extraArgs:
    allocate-node-cidrs: "true"
---